aiohttp==3.8.1
aiosignal==1.2.0
appnope==0.1.4
appscript==1.2.2
asttokens==3.0.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.12.1
base58==2.1.1
beautifulsoup4==4.13.4
bitarray==1.2.2
bleach==6.2.0
certifi==2021.5.30
chardet==5.2.0
charset-normalizer==2.0.6
click==8.2.1
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
coverage==7.10.3
cycler==0.12.1
cytoolz==0.11.2
databricks-cli==0.18.0
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
diff_cover==9.3.2
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.16.7
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
exceptiongroup==1.3.0
executing==2.2.0
Faker==40.4.0
fastjsonschema==2.21.1
flake8==7.3.0
fonttools==4.61.1
frozenlist==1.3.0
hexbytes==0.2.2
idna==3.2
iniconfig==2.1.0
ipfshttpclient==0.8.0a2
ipykernel==6.30.1
ipython==8.37.0
jedi==0.19.2
Jinja2==3.1.2
jsonschema==4.5.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
lru-dict==1.1.7
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.10.8
matplotlib-inline==0.1.7
mccabe==0.7.0
mirakuru==2.6.1
mistune==3.1.3
multiaddr==0.0.9
multidict==6.0.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==0.8.0
numpy==2.2.2
oauthlib==3.3.1
openpyxl==3.1.2
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parsimonious==0.8.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.3.8
pluggy==1.6.0
port-for==0.7.4
prompt_toolkit==3.0.51
protobuf==3.20.1
psutil==7.0.0
psycopg==3.2.9
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pycodestyle==2.14.0
pycryptodome==3.14.1
pyflakes==3.4.0
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.3.2
pyrsistent==0.18.1
pyspark==4.0.0
pytest==8.4.0
pytest-cov==6.2.1
pytest-mock==3.14.1
pytest-postgresql==7.0.2
python-crontab==2.6.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.20.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==27.0.0
regex==2024.11.6
requests==2.26.0
rlp==2.0.1
seaborn==0.13.2
six==1.16.0
soupsieve==2.7
SQLAlchemy==2.0.43
sqlfluff==3.4.0
stack-data==0.6.3
tabulate==0.9.0
tblib==3.1.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
toolz==0.11.2
tornado==6.5.1
tqdm==4.62.3
traitlets==5.14.3
typing_extensions==4.14.0
tzdata==2025.1
urllib3==1.26.7
varint==1.0.2
wcwidth==0.2.13
web3==5.29.1
webencodings==0.5.1
websockets==9.1
yarl==1.7.2
